* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0f172a;
  display: flex;
  justify-content: center;
}

.app {
  width: 100%;
  max-width: 420px;
  background: #f8fafc;
  min-height: 100vh;
  border-radius: 30px;
  overflow: hidden;
}

/* HEADER */
.header {
  background: #16a34a;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.logo {
  width: 40px;
}

.title {
  font-weight: bold;
}

/* PAGE */
.page {
  display: none;
  padding: 20px;
}

.page.active {
  display: block;
}

/* CARD */
.card {
  background: white;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.product {
  background: white;
  border-radius: 15px;
  padding: 10px;
}

.product img {
  width: 100%;
  border-radius: 10px;
}

.product h4 {
  font-size: 14px;
}

.product span {
  color: #16a34a;
  font-weight: bold;
}

/* NAV */
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 420px;
  display: flex;
  justify-content: space-around;
  background: #0f172a;
  padding: 10px;
}

.nav button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
}
